{% extends 'generic/object.html' %}
{% load plugins %}
{% load compliance_details %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Result</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Device</th>
            <td>
              {% if object.device %}
                <a href="{% url 'dcim:device_compliance' pk=object.device.pk %}">{{ object.device_name }}</a>
              {% else %}
                {{ object.device_name }} <span class="text-muted">(device deleted)</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Measure</th>
            <td>
              {% if object.measure %}
                <a href="{{ object.measure.get_absolute_url }}">{{ object.measure_slug }}</a>
              {% else %}
                {{ object.measure_slug }} <span class="text-muted">(measure deleted)</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Status</th>
            <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
          </tr>
          <tr>
            <th scope="row">Value</th>
            <td>{{ object.value|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Timestamp</th>
            <td>{{ object.timestamp }}</td>
          </tr>
          <tr>
            <th scope="row">Source</th>
            <td>{{ object.source }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Details</h5>
        <div class="card-body">
          {{ object.details|render_details:object.status }}
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
{% endblock content %}
