{% extends 'generic/object.html' %}
{% load plugins %}
{% load compliance_details %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Result</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Device</th>
            <td><a href="{% url 'dcim:device_compliance' pk=object.device.pk %}">{{ object.device }}</a></td>
          </tr>
          <tr>
            <th scope="row">Measure</th>
            <td><a href="{{ object.measure.get_absolute_url }}">{{ object.measure }}</a></td>
          </tr>
          <tr>
            <th scope="row">Status</th>
            <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
          </tr>
          <tr>
            <th scope="row">Timestamp</th>
            <td>{{ object.timestamp }}</td>
          </tr>
          <tr>
            <th scope="row">Source</th>
            <td>{{ object.source }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Details</h5>
        <div class="card-body">
          {{ object.details|render_details:object.status }}
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col col-md-12">
      {% include 'inc/panel_table.html' with table=history_table heading='History (most recent 25)' %}
      <a href="{% url 'plugins:netbox_compliance:complianceresulthistory_list' %}?device_id={{ object.device.pk }}&measure_id={{ object.measure.pk }}" class="btn btn-outline-secondary">
        View full history
      </a>
    </div>
  </div>
{% endblock content %}
